VITE_COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
DEPLOYER_PRIVATE_KEY=
EVM_DEPLOYER_ADDRESS=
SIGNAL_HARBOR_ADDRESS=
SOURCE_TX_HASH=
FDC_REQUEST_TX_HASH=
EVM_EVIDENCE_RECIPIENT=
XRP_EVIDENCE_RECIPIENT_HASH=
XRPL_SENDER_ADDRESS=
XRPL_SENDER_SEED=
XRPL_RECEIVER_ADDRESS=
XRPL_RECEIVER_SEED=
VERIFIER_URL_TESTNET=https://fdc-verifiers-testnet.flare.network
VERIFIER_API_KEY_TESTNET=00000000-0000-0000-0000-000000000000
COSTON2_DA_LAYER_URL=https://ctn2-data-availability.flare.network
